# Routes
GET		/testOkResult			com.darylteo.edge.test.util.TestController.testOkResult()
GET		/testRenderResult		com.darylteo.edge.test.util.TestController.testRenderResult()
GET		/testJsonResult			com.darylteo.edge.test.util.TestController.testJsonResult()
GET		/testAsyncResult		com.darylteo.edge.test.util.TestController.testAsyncResult()
GET		/params/:echo			com.darylteo.edge.test.util.TestController.TestRouteParams(echo)
# *	*						com.darylteo.edge.test.util.TestController.FileNotFound()