GET       /testOkResult             org.edgeframework.controllers.test.TestController.testOkResult()
GET       /testRenderResult         org.edgeframework.controllers.test.TestController.testRenderResult()
GET       /testJsonResult           org.edgeframework.controllers.test.TestController.testJsonResult()
GET       /testAsyncResult          org.edgeframework.controllers.test.TestController.testAsyncResult()

GET       /testRouteParams/:echo    org.edgeframework.controllers.test.TestController.testRouteParams(echo)
GET       /testQueryString          org.edgeframework.controllers.test.TestController.testQueryString(echo)
POST      /testBodyString           org.edgeframework.controllers.test.TestController.testBodyString(echo)