GET       /testOkResult             org.edgeframework.test.TestController.testOkResult()
GET       /testRenderResult         org.edgeframework.test.TestController.testRenderResult()
GET       /testJsonResult           org.edgeframework.test.TestController.testJsonResult()
GET       /testAsyncResult          org.edgeframework.test.TestController.testAsyncResult()
GET       /testRouteParams/:echo    org.edgeframework.test.TestController.testRouteParams(echo)