<html>
  <title>Mod Edge - Basic Example</title>
  <body>
    <div>
      <p>This is a rendered handlebars template.</p>
      {{#if this}} 
        <p>Passthrough Value = {{this}}</p>
      {{/if}}
    </div>
  </body>
</html>