<html>
  <head>
    <title>Mod-Edge examples</title>
  </head>
  <body>
    <h1>Mod-Edge Examples</h1>
    {{#each this.links}}
      <div><a href="{{url}}">{{name}}</a></div>
    {{/each}}
  </body>
</html>