<!DOCTYPE html>
<html>
  <head>
    <title>Mod-Edge examples</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <h1>Mod-Edge Examples</h1>
    {{#each this.links}}
      <div><a href="{{url}}">{{name}}</a></div>
    {{/each}}
    
    <script src="scripts/script.js"></script>
  </body>
</html>